/* Padrões */
*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}
.app_content{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.app_wrp{
    width:100%;
    height:100%;
    max-width: 1280px;
    overflow-x: hidden;
}

/* Variaveis para padrões de cores, fontes e tamanhos */
:root{
    --button-color:#AF8EFF;
    --button-hover-color:#88A9F0;
    --header-color:#8276F4;
    --text-color-light:#fff;
    --text-color-highlight:#8276F4;
    --background-color:#fff;
    --background-color-sorla:#8276F4;
    --background-image:url('/SistemaDesign/images/signin.jpg')
}


/* Tela de Login e Cadastro */
.sign_container{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.sign_image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
.sign_image img{
    height:100%;
}
.sign_wrp{
    height:100%;
    background-color:var(--background-color-sorla);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    overflow: hidden;
}
.sign_header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sign_header h2{
    font-size:2.7rem;
    
}
.sign_header h2,p,label{
    color:var(--text-color-light)  
}
.sign_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sign_main form div{
    display: flex;
    flex-direction: column;
}
.sign_main form div input{
    width: 20rem;
    border: none;
    background-color: var(--background-color);
    border-radius: 2rem;
    margin-bottom:1rem;
    padding:1rem;
}
.sign_main .form_submit{
    all:unset;
    width:20rem;
    padding:1rem;
    background-color:var(--button-color);
    color:var(--text-color-light);
    border-radius: 2rem;
    text-align: center;
    transition:.2s ease;
}
.sign_main .form_submit:hover{
    background-color:var(--button-hover-color);

}
.sign_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign_footer a{
    text-decoration:underline;
    color:var(--text-color-light);
    margin:1rem;
}